In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
a = 4
b = 6
a*b+a

28

In [5]:
#this is command

In [6]:
this is command

NameError: name 'this' is not defined

ini adalah format Markdown

# heading 1
## heading 2
### heading 3
#### heading 4

In [3]:
print('hello world')

hello world

# Data Types in Python

### String

In [8]:
x = 'hello world'
print (x)

hello world

In [9]:
y = '3'
print (y)

3

In [10]:
type(y)

str

In [11]:
a = 'hello'
b = 'world'
print (a+b)

helloworld

In [12]:
print(a*3)

hellohellohello

In [17]:
x [3] # mengakses elemen dengan index 3 dari string x

'l'

di python angka mulai dr nol. x itu kan hello world, jadi x[3] adalah huruf ke 4

In [19]:
x [0:3] # dinamakan slicing. mengambil elemen dari index 0 sampai 2 dari string x. Klo mau ambil 4 index, berarti tulisnya [0:4]

'hel'

In [20]:
x [:4] # gaperlu nulis angka depan klo mau ambil dr awal

'hell'

In [23]:
x [5:] # ga perlu nulis angka belakang klo mau ambil sampe akhir

' world'

In [24]:
x [-2] # dikasih minus jadi mengambil data dari belakang

'l'

In [22]:
b [1:4]

'orl'

### Numeric

In [14]:
c = 5
d = 10
print(c+d)

15

In [15]:
type(c+d)

int

In [25]:
c2 = 3.14
type (c2)

float

In [4]:
c3 = 7j
type (c3)

complex

In [28]:
3 ** 2 # double * berarti pangkat

9

In [5]:
print (c3+a)

NameError: name 'a' is not defined

### Boolean (True or False)

In [32]:
type(True)

bool

In [33]:
type(False)

bool

In [35]:
print(5 == 30) # double = untuk menyatakan persamaan

False

In [36]:
print (5 > 3)

True

In [37]:
print(5 != 7) # != untuk menanyakan pertidaksamaan

True

In [39]:
'Jakarta' == "Jakarta"

True

In [40]:
'Jakarta'=='jakarta'

False

In [42]:
x

'hello world'

In [41]:
x[::-1] # untuk merubah urutan huruf

'dlrow olleh'

In [43]:
x[::2] # untuk longkap

'hlowrd'

### List (bisa berisi banyak type)

In [44]:
my_list1 = [1,2,3,4]

In [46]:
print(my_list1)

[1, 2, 3, 4]

In [47]:
type(my_list1)

list

In [7]:
my_list2 = [1, 'hello',True, [3,4,5]]
print(my_list2)

[1, 'hello', True, [3, 4, 5]]

In [50]:
type(my_list2[2])

bool

In [51]:
my_list2[3][1] # ambil list dalam list

4

In [52]:
len(x) # length untuk menghitung panjang string x

11

In [53]:
len(my_list2[1])

5

In [54]:
my_list2[2]=False # merubah konten dalam list

In [55]:
print(my_list2)

[1, 'hello', False, [3, 4, 5]]

In [56]:
my_list2.pop() #menghilangkan item terakhir dalamm list

[3, 4, 5]

In [8]:
print(my_list2)

[1, 'hello', True, [3, 4, 5]]

In [9]:
my_list2.remove(1) #menghapus elemen yang ada (1)-nya

In [10]:
print(my_list2)

['hello', True, [3, 4, 5]]

In [65]:
del my_list2[1] #menghapus item keberapa dalam list

In [71]:
print(my_list2)

['hello', 3.14, 3.14, 3.14, True]

In [67]:
my_list2.append(True) # menambahkan item ke dalam list
print(my_list2)

['hello', True]

In [70]:
my_list2.insert(1,3.14) #menambahkan item pada posisi tertentu (nambahin 3.14 di urutan 1)
print(my_list2)

['hello', 3.14, 3.14, 3.14, True]

In [77]:
my_list2.remove(3.14)
print(my_list2)

['hello', 3.14, 3.14, True]

In [75]:
print(my_list2)

['hello', 3.14, 3.14, 3.14, True]

In [21]:
bike = ['polygon','element','dahon','united']
print('here is the ori list')
print(bike)

print('here is the shorted list')
print(sorted(bike))

print('back to ori')
print(bike)

here is the ori list
['polygon', 'element', 'dahon', 'united']
here is the shorted list
['dahon', 'element', 'polygon', 'united']
back to ori
['polygon', 'element', 'dahon', 'united']

In [22]:
bike.sort()
print(bike)

['dahon', 'element', 'polygon', 'united']

In [24]:
bike.sort(reverse= True)
print(bike)

['united', 'polygon', 'element', 'dahon']

In [25]:
angka = [1,2,3,4,5,6,7,8]

In [26]:
max(angka)

8

In [27]:
print(min(angka))

1

In [29]:
print(sum(angka))

36

In [35]:
list.reverse(angka)
print(angka)

[8, 7, 6, 5, 4, 3, 2, 1]

### IF

In [4]:
J = 20

In [5]:
if J < 10:
    print("yuhuuu")
if J > 10:
    print ("jiahh")

jiahh

In [16]:
nilai = 80
usia = 14

In [10]:
# if, else (jika a, yg lainnya b)
if nilai < 75:
    print ("anda tidak lulus")
else: print ("selamattt")

anda tidak lulus

In [12]:
bilangan = 1

In [13]:
# if, elif, else (jika tidak if, maka elif. jika tidak elif, maka else (berurutan))
if bilangan > 0:
    print ("bilangan positif")
elif bilangan == 0:
    print ("nol")
else:
    print ("bilangan negatif")

bilangan positif

In [17]:
# if bertingkat (nested if)
if nilai > 75:
    if usia < 15:
        print("Adik lulus yaa")
    else:
        print ("kakak lulus ya")
else:
    if usia < 15:
        print ("so sadd adik belum lulus")
    else:
        print ("so sadd kakak belum lulus")

Adik lulus yaa

In [44]:
nilai = float(input('masukan nilai anda: '))

if nilai >= 75:
    print('Lulus')

else:
    print('Tidak lulus')

masukan nilai anda: 85.4
Lulus

### Loop

In [18]:
# For loop
Kendaraan = ['Mobil', 'motor', 'kereta api', 'pesawat']
for vehicle in Kendaraan:
    print (vehicle)

Mobil
motor
kereta api
pesawat

In [45]:
Kendaraan = ['Mobil', 'motor', 'kereta api', 'pesawat']
for i in Kendaraan:
    print (i)

Mobil
motor
kereta api
pesawat

In [55]:
list2 = [1,2,3,4,5,6,7,8]

In [60]:
print(list2[2:5])

[3, 4, 5]

In [56]:
print(list(range(2,5)))

TypeError: 'list' object is not callable

In [1]:
# For loop dengan range
matkul = ['MTK','PKN','Penjas','IPA']
for i in range (2):
    print ("Aku suka", matkul[i])

Aku suka MTK
Aku suka PKN

In [64]:
# while loop
count = 5
while (count > -5):
    print ('The count is', count)
    count -=1
print ('close')

The count is 5
The count is 4
The count is 3
The count is 2
The count is 1
The count is 0
The count is -1
The count is -2
The count is -3
The count is -4
close

In [67]:
# while loop with else
count = 5
while (count > -1):
    print ('The count is', count)
    count -=1
else:
    print(count,'lanjutan')

The count is 5
The count is 4
The count is 3
The count is 2
The count is 1
The count is 0
-1 lanjutan

In [73]:
# Nested Loop
for i in range(2):
    for j in range(4,7):
        print('nilai i =',i,'  \n nilai j =',j)

nilai i = 0
 nilai j = 4
nilai i = 0
 nilai j = 5
nilai i = 0
 nilai j = 6
nilai i = 1
 nilai j = 4
nilai i = 1
 nilai j = 5
nilai i = 1
 nilai j = 6

In [81]:
# Break Statement (untuk menghentikan suatu loop dengan kondisi tertentu)
nomer = [1,12,123,1234,12345,123456,1234567]
print("---Daftar Nama---")
for i in range(len(nomer)):
    if (nomer[i]) >= 5555:
        print('Nomer sudah melalui 5 digit')
        break
    print(i-1, nomer[i])

---Daftar Nama---
-1 1
0 12
1 123
2 1234
Nomer sudah melalui 5 digit

In [89]:
# Continue statement (melakukan pengulangan dari awal lagi)
bilangan = 0
pilihan = True

while (pilihan is True):
    bilangan = float(input('masukan angka dibawah 100:  '))
    
    if (bilangan > 100):
        print('kegedean woyy, dibawah 100')
        continue
        
    print('pangkat duanya adalah ',bilangan**2)
    y_n = input("apakah ingin mengulangi lagi? (y/n)  ")
    
    if (y_n in ('n' or 'N')):
        pilihan = False
        
print('see you soon')

masukan angka dibawah 100:  5.5
pangkat duanya adalah  30.25
apakah ingin mengulangi lagi? (y/n)  y
masukan angka dibawah 100:  101
kegedean woyy, dibawah 100
masukan angka dibawah 100:  -100
pangkat duanya adalah  10000.0
apakah ingin mengulangi lagi? (y/n)  n
see you soon

In [92]:
# Pass Statement (pernyataan sintaksis, tidak mengeksekusi perintah apapun)
for i in range(1,7):
    if i == 4:
        print('nilai',i,'ditemukan')
    print('nilai saat ini ',i)

nilai saat ini  1
nilai saat ini  2
nilai saat ini  3
nilai 4 ditemukan
nilai saat ini  4
nilai saat ini  5
nilai saat ini  6

In [95]:
for i in range(1,7):
    if i == 4:
        print('nilai',i,'ditemukan')
        pass
        print('pass terlewati')
    print('nilai saat ini ',i)

nilai saat ini  1
nilai saat ini  2
nilai saat ini  3
nilai 4 ditemukan
pass terlewati
nilai saat ini  4
nilai saat ini  5
nilai saat ini  6