# Function

In [1]:
def cetak(str):
    """Fungsi ini mencetak/menampilkan string yang ditulis oleh user"""
    print(str)

In [2]:
cetak('shift academy')

shift academy

In [12]:
# rumus sisi * sisi
def luas_persegi(sisi):
    luas = sisi * sisi
    return luas

# rumus sisi * sisi * sisi
def volume_persegi(sisi):
    volume = luas_persegi(sisi) * sisi
    return volume

In [13]:
luas_persegi(6)

36

In [14]:
volume_persegi(4)

64

## Required Arguments

In [33]:
def cek_plat_nomor(tanggal, plat_nomor):
    plat_nomor = plat_nomor.split('_') # ngasih tau format input plat nomer dipisahkan dengan _
    plat_nomor = int(plat_nomor[1]) #format plat nomor B 1234 CDC. ambil [1] berarti ambil yang 1234
    if tanggal %2 == 0:
        if plat_nomor %2 == 0:
            print('Anda lolos.')
        else:
            print('Anda ditilang')
    else:
        if plat_nomor % 2 == 0:
            print('anda ditilang juga')
        else:
            print('anda lolos juga')

In [22]:
cek_plat_nomor(27, 'B_2759_RP')

anda lolos juga

## Keyword Arguments
urutan input bisa diubah, asal ditulis ini maksudnya apa

In [30]:
cek_plat_nomor(plat_nomor = 'Z_1234_KL', tanggal = 26)

Anda lolos.

In [31]:
cek_plat_nomor(tanggal = 9, plat_nomor = 'f_1423_rp')

anda lolos juga

## Default Argument
Mengansumsikan nilai default jika nilai tidak tersedia

In [71]:
def total_gaji(basic_salary, bonus=500000, pajak=0.1, denda=3000000):
    total_gaji = basic_salary + bonus - denda - (basic_salary*pajak)
    result = print('Total Gaji : ',int(total_gaji))
    return result

In [72]:
total_gaji(basic_salary = 5000000, denda = 1000000)

Total Gaji :  4000000

In [ ]:
def total_gaji(basic_salary, bonus=500000, pajak=0.1, denda=3000000):
    total_gaji = basic_salary + bonus - denda - (basic_salary*pajak)
    result = f'Total Gaji : {int(total_gaji)}'
    return result

In [65]:
# contoh eror
def greet(name, msg='Good morning!'):
    print("Hello",name, ', ',msg)

In [66]:
greet("kate")

Hello kate ,  Good morning!

In [60]:
greet('kate','john')

Hello kate, john

In [46]:
greet()

TypeError: greet() missing 1 required positional argument: 'name'

## Variable Length Arguments

In [47]:
def total(*bilangan, **keywords):
    hitung = 0
    for bil in bilangan:
        hitung += bil
    for key in keywords:
        hitung += keywords[key]
    print(bilangan)
    print(keywords)
    return hitung

In [53]:
total(2,4,6,daging=2,sayur=10,buah=3)

(2, 4, 6)
{'daging': 2, 'sayur': 10, 'buah': 3}

27

In [69]:
def greet2(*name):
    for i in name:
        print('Hello',i)

In [70]:
greet2('tono','anto','budi','tarno')

Hello tono
Hello anto
Hello budi
Hello tarno

## Fungsi map
Untuk apply sebuah fungsi ke dalam list/tupple

In [19]:
def hitungkuadrat(bil):
    return bil*bil

bilangan = [0, 2, 3, 4, 5]
hasil = map(hitungkuadrat, bilangan)

print(list(hasil))

[0, 4, 9, 16, 25]

In [73]:
def hitungkuadrat(bil):
    return bil*bil

In [77]:
bilangan = (0, 2, 3, 4, 5)
hasil = map(hitungkuadrat, bilangan)

In [79]:
print(list(hasil))

[]

### Filter

In [83]:
def check_even(x):
    return x%2 == 0

nums = [-2,0,1,2,3,4,5,6,7,8]
noms = (9,10,11,12,13,14,15)

tuple(filter(check_even, nums))

(-2, 0, 2, 4, 6, 8)

In [86]:
print(tuple(filter(check_even, nums))[::-1])

(8, 6, 4, 2, 0, -2)

In [24]:
def check_odds(x):
    return x%2 != 0

nomer = [1,2,3,4,5,6,7,8]

list(filter(check_odds, nomer))

[1, 3, 5, 7]

### Lambda

In [25]:
# Normal
def tambah(x):
    return x+1

fungsi_1 = tambah (5)
print(fungsi_1)

6

In [26]:
# dengan lambda
fungsi_1 = lambda x : x + 1
print(fungsi_1(5))

6

In [32]:
def tambah(x,y):
    return x+y+2

fungsi_2 = tambah(5,2)
print(fungsi_2)

9

In [88]:
fungsi_2 = lambda x,y : x+y+2
print(fungsi_2(5,6))

13

### List Comprehensive

In [33]:
h_letters = [letter for letter in 'human']
print(h_letters)

['h', 'u', 'm', 'a', 'n']

In [34]:
h_letters = [letter for letter in 'alvin']
print(h_letters)

['a', 'l', 'v', 'i', 'n']